<%#=  debug("hello world") 
%>
<% #Rails.logger.debug("hello world") 
%>
<div class="row">	
<div class="span12"><%= video.title%>&nbsp;&nbsp;&nbsp;&nbsp;
	<% if signed_in? %>
	<%= link_to "Delete", video, :method => :delete, :confirm => 'Are you sure you want to delete this video?'%>
	<% end %>
</div>
<div class="span12"><%= youtube_video video.url %></div>
</div>