
<div class="span3">
	<%= link_to video_category.category, {:controller => "home", :action => "index", :id => current_user.id, :cat_id => video_category.id } %>
	<%= link_to "Delete Album", video_category, :method => :delete, :confirm => "This will delete all videos in this album, are you sure?"%>
</div>
